<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src=".../static/validaciones.js"></script>
</head>

<body>

  <div class="container">
      <h1>Datos del usuario</h1>
      <a th:href="@{/}" th:text="Regresar"></a>
      <form th:action="@{/guardar}" method="post" th:object="${persona}" class="form">
          <input type="hidden" name="id_persona" th:field="*{id_persona}" >

          <label class="form-label">Nombre</label>
          <input class="form-control mb-2" type="text" name="nombre" th:field="*{nombre}" required min="3" max="50">
          <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" >Error en el nombre</span>

          <label class="form-label">Apellido</label>
          <input  class="form-control mb-2" type="text" name="apellido" th:field="*{apellido}" >
          <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error en el apellido</span>

          <label class="form-label">Email</label>
          <input  class="form-control mb-3" type="email" name="email" th:field="*{email}" >
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error en el email</span>

          <label class="form-label">Telefono</label>
          <input  class="form-control mb-3" type="tel" name="telefono" th:field="*{telefono}" >
          <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error en el telefono</span>

          <input class="btn btn-success" type="submit" name="guardar" value="Guardar">
      </form>
  </div>

</body>
</html>